[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = "*"
imutils = "*"
pyzbar = "*"
cryptography = "*"

[dev-packages]
pyinstaller = "*"
python-gettext = "*"

[requires]
python_version = "2.7"
